body {
    margin: 0;
    font-family: 'Nanum Brush Script';
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 60px;
    color: black;
}

.navbar_logo i{
    color: #997000;
    font-size: 50px;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 33px;
}

.navbar_menu li {
    padding: 8px 30px;
    margin: 0 15px;
}

.navbar_menu li:hover {
    background-color: #997000;
    border-radius: 4px;

}
.navbar_icons {
    list-style: none;
    color: #997000;
    font-size: 30px;
    display: flex;
    padding-left: 0;
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_menu li a{
    display: block;
}

.navbar_toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    top: 20px;
    font-size: 24px;
    color:#997000;
}
header{
    width: 100%;
}

.header_img img{
    width: 100%;
    height: 700px;
}

.info_section{
    display: flex;
    justify-content: space-around;
    margin: 0 80px;
}

.info_section .site_info{
    width: 20%;
    padding: 50px 25px;
}

.info_section .site_info .site_name{
    font-size: 40px;
}

.info_section .site_info .site_description{
    font-size: 20px;
}

.info_section .section_intro{
    width: 80%;
    padding: 50px 30px;
}

.info_section .section_intro .intro_theme{
    font-size: 70px;
}

.info_section .section_intro .intro_text{
    font-size: 60px;
}
/*메뉴 가격표 section*/
.mainmenu_section{
    margin: 0 80px;
}

.mainmenu_section .menu_title h1{
    color: #997000;
    font-size: 80px;
    padding: 0px 25px;
    width: 100%;
}

.mainmenu{
    display: flex;
    width: 100%;
}

.mainmenu .mainmenu1{
    justify-content: space-between;
    width: 50%;
    display: flex;
    padding: 0 25px;
}

.mainmenu .mainmenu2{
    justify-content: space-between;
    width: 50%;
    display: flex;
    padding: 0 25px;
}

.mainmenu_name{
    font-size: 30px;
    width: 70%;
}

.mainmenu_name p{
    font-family: '맑은 고딕';
    font-size: 12px;
    color: #999;
}

.mainmenu_price{
    font-size: 30px;
    width: 30%;
    color: #CC723D;
}

hr{
    background-color: #EAEAEA;
    height: 5px;
    border: 0;
    
}
/*메뉴 사진 section*/
.mainmenu_img_section{
    margin: 0 80px;
}

.mainmenu_img_section .menu_img_title h1{
    color: #997000;
    font-size: 80px;
    padding: 0px 25px;
    width: 100%;
}

.mainmenu_img_section1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.mainmenu_img_section2{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.mainmenu_img_section2 .mainmenu_img_box .mainmenu_images{
    height: 410px;
}

.mainmenu_img_box{
    width: 410px;
    height: auto;
    margin: 10px;
    border: 10px solid #EAEAEA;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff;
    box-sizing: initial;
}

.mainmenu_img_box .hover_effect_caption{
    width: 100%;
    height: 430px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.mainmenu_img_box .mainmenu_img{
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
}

.mainmenu_img_box .caption_title{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 35px;
    padding: 10px;
    background: #e65b0b;
    margin: 20px 0 0 0;
}

.mainmenu_img_box .caption_desc{
    font-size: 25px;
    line-height: 1.5;
    position: relative;
    color: #fff;
    padding: 100px 20px 40px;
    text-align: center;
}

.hover_effect .mainmenu_img{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.hover_effect .hover_effect_caption{
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: rgba(219,127,8, 0.7);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.hover_effect .caption_title {
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hover_effect .caption_desc {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.hover_effect:hover .mainmenu_img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.hover_effect:hover .hover_effect_caption {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.hover_effect:hover .caption_title,
.hover_effect:hover .caption_desc {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.hover_effect:hover .caption_desc {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.mainmenu_images{
    width: 100%;
    height: auto;
}

.mainmenu_img_name{
    font-size: 30px;
}

/*가게 사진 및 세트 사진 */
.exterior_img_section{
    margin: 0 80px;
}

.exterior_img_section .exterior_img_title h1{
    color: #997000;
    font-size: 80px;
    padding: 0px 25px;
    width: 100%;
}

.exterior_img_section1{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.exterior_img_section2{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.exterior_img_section3{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.exterior_img_box{
    width: 410px;
    height: auto;
    margin: 10px;
    border: 10px solid #EAEAEA;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff;
    box-sizing: initial;
}

.exterior_img_box .exterior_img{
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
}

.hover_effect .exterior_img{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.hover_effect:hover .exterior_img {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.exterior_images{
    width: 100%;
    height: auto;
}
/*찾아오시는 길*/
.deractions_section{
    margin: 0 80px;
}

.deractions_section .deractions_title h1{
    color: #997000;
    font-size: 80px;
    padding: 0px 25px;
    width: 100%;
}

.deractions_section .directions_google_map{
    text-align: center;
    width: 100%;
}

.deractions_section .directions_google_map iframe{
    width: 80%;
    height: 450px;
}

.hours_of_operation{
    margin: 30px 0;
    padding: 40px 0;
    width: 100%;
    height: 300px;
}

.hours_of_operation .hours_of_operation_title{
    padding-left: 20%;
}

.hours_of_operation .hours_of_operation_table{
    width: 60%;
    height: 300px;
    font-size: 20px;
    font-family: '맑은 고딕';
}

.hours_of_operation .hours_of_operation_table th{
    width: 20%;
    padding-right: 10%;
    color: #999;
}

.hours_of_operation .phone_number_title{
    padding-left: 20%;
}

.hours_of_operation .phone_number_table{
    width: 60%;
    height: auto;
    font-size: 20px;
    font-family: '맑은 고딕';
}

.hours_of_operation .phone_number_table th{
    width: 20%;
    padding-right: 10%;
    color: #999;
}

footer{
    margin-top: 100px;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    font-family: '맑은 고딕';
    background-color: #faa473;
}

/*info.html*/
.store_infomation_section{
    margin: 0 80px;
}

.store_infomation_section .store_infomation_title h1{
    color: #997000;
    font-size: 80px;
    padding: 0px 25px;
    width: 100%;
}

.store_infomation_section .store_infomation{
    width: 100%;
    display: flex;
}

.store_infomation .store_infomation_img{
    width: 50%;
    padding-left: 3%;
}

.hover_effect .store_infomation_images{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.hover_effect:hover .store_infomation_images {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.store_infomation_section .store_infomation .store_infomation_text_box{
    width: 70%;
    padding-left: 10%;
}

.store_infomation_section .store_infomation .store_infomation_text_box .store_infomation_text_title{
    margin: 0;
    font-size: 50px;
}

.store_infomation_section .store_infomation .store_infomation_text_box .store_infomation_text{
    font-size: 30px;
}

.store_infomation_images{
    width: 100%;
    height: auto;
}

/*menu.html*/
.store_menu_section{
    margin: 0 80px;
}

.store_menu_section .store_menu_title h1{
    color: #997000;
    font-size: 80px;
    padding: 0px 25px;
    width: 100%;
}

.store_menu_section .store_menu_box1{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.store_menu_section .store_menu_box2{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.store_menu_imgtext_box{
    width: 410px;
    height: auto;
    margin: 10px;
    border: 10px solid #EAEAEA;
    overflow: hidden;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff;
    box-sizing: initial;
}

.store_menu_imgtext_box .store_menu_img{
    display: block;
    position: relative;
    width: 100%;
    height: 400px;
}

.store_menu_images{
    width: 100%;
    height: 100%;
}

.hover_effect .store_menu_images{
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.hover_effect:hover .store_menu_images {
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.store_menu_text_box .store_menu_text_title{
    font-size: 50px;
    color: #997000;
}

.store_menu_text_box .store_menu_text{
    font-size: 30px;
}

/*store_image.html*/
.store_image_section .store_image_title h1{
    color: #997000;
    font-size: 80px;
    padding: 0px 25px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
        height: 60px;
    }

    .navbar_logo {
        font-size: 45px;
        color: black;
    }

    .navbar_logo i{
        font-size: 35px;
        color: #997000;
    }

    .navbar_menu {
        background-color: rgba(255, 255, 255, 0.5);
        left: 20px;
        top: 40px;
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .navbar_menu li {
        width: 90%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn{
        display: block;
    }

    .navbar_menu.active{
        display: flex;
    }

    .navbar_icons.active{
        display: none;
    }

    .header_img img{
        width: 100%;
        height: auto;
    }

    /*소개 section */

    .info_section{
        margin: 0;
    }

    .info_section .site_info{
        width: 30%;
        padding: 50px 25px;
    }

    .info_section .section_intro{
        width: 70%;
        padding: 50px 15px;
    }

    .info_section .site_info .site_name{
        font-size: 30px;
    }
    
    .info_section .site_info .site_description{
        font-size: 15px;
    }
    
    .info_section .section_intro .intro_theme{
        font-size: 30px;
        color: #997000;
    }

    .info_section .section_intro .intro_text{
        font-size: 25px;
    }

    /*메뉴의 이름, 가격 section */

    .mainmenu_section{
        margin: 0;
    }

    .mainmenu_section .menu_title h1{
        color: #997000;
        font-size: 45px;
        padding: 0px 25px;
        width: 80%;
    }

    .mainmenu{
        display: block;
        width: 100%;
    }

    .mainmenu .mainmenu1{
        justify-content: space-between;
        width: 80%;
        display: flex;
        padding: 0 25px;
        margin: 0;
    }
    
    .mainmenu .mainmenu2{
        justify-content: space-between;
        width: 80%;
        display: flex;
        padding: 30px 25px;
    }

    .mainmenu_name{
        font-size: 20px;
        width: 60%;
    }

    .mainmenu_name p{
        font-size: 10px;
    }

    .mainmenu_price{
        text-align: right;
        font-size: 20px;
        width: 40%;
        color: #CC723D;
    }
    /*메뉴 사진 section */
    .mainmenu_img_section{
        margin: 0;
    }
    
    .mainmenu_img_section .menu_img_title h1{
        color: #997000;
        font-size: 45px;
        padding: 0px 25px;
        width: 80%;
    }
    
    .mainmenu_img_section1{
        display: block;
        width: 100%;
    }

    .mainmenu_img_section2{
        display: block;
        width: 100%;
    }
    
    .mainmenu_img_box{
        width: 390px;
        height: 530px;
        margin: 10px auto;
        border: 10px solid #EAEAEA;
        overflow: hidden;
        position: relative;
        text-align: center;
        -webkit-box-shadow: 1px 1px 2px #e6e6e6;
        -moz-box-shadow: 1px 1px 2px #e6e6e6;
        box-shadow: 1px 1px 2px #e6e6e6;
        cursor: default;
        background: #fff;
        box-sizing: initial;
    }
    
    .mainmenu_img_box .hover_effect_caption{
        width: 390px;
        height: 430px;
        position: absolute;
        overflow: hidden;
        top: 0px;
        left: 0px;
    }
    
    .mainmenu_img_box .mainmenu_img{
        display: block;
        position: relative;
        width: 100%;
    }
    
    .mainmenu_img_box .caption_title{
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 35px;
        padding: 10px;
        background: #e65b0b;
        margin: 20px 0 0 0;
    }
    
    .mainmenu_img_box .caption_desc{
        font-size: 25px;
        line-height: 1.5;
        position: relative;
        color: #fff;
        padding: 100px 20px 40px;
        text-align: center;
    }

    .hover_effect .mainmenu_img{
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    
    .hover_effect .hover_effect_caption{
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        background-color: rgba(219,127,8, 0.7);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    
    .hover_effect .caption_title {
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    
    .hover_effect .caption_desc {
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -o-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    
    .hover_effect:hover .mainmenu_img {
        -webkit-transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
        -o-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        transform: scale(1.1,1.1);
    }
    
    .hover_effect:hover .hover_effect_caption {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }
    
    .hover_effect:hover .caption_title,
    .hover_effect:hover .caption_desc {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
    
    .hover_effect:hover .caption_desc {
        -webkit-transition-delay: 0.1s;
        -moz-transition-delay: 0.1s;
        -o-transition-delay: 0.1s;
        -ms-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
    
    .mainmenu_images{
        width: 400px;
        height: auto;
    }
    
    .mainmenu_img_name{
        font-size: 45px;
    }
    /*가게 사진 및 세트 사진*/
    .exterior_img_section{
        margin: 0;
    }
    
    .exterior_img_section .exterior_img_title h1{
        color: #997000;
        font-size: 45px;
        padding: 0px 25px;
        width: 80%;
    }

    .exterior_img_section1{
        display: block;
        width: 100%;
    }
    
    .exterior_img_section2{
        display: block;
        width: 100%;
    }
    
    .exterior_img_section3{
        display: block;
        width: 100%;
    }

    .exterior_img_box{
        width: 380px;
        height: auto;
        margin: 10px auto;
        border: 10px solid #EAEAEA;
        overflow: hidden;
        position: relative;
        text-align: center;
        -webkit-box-shadow: 1px 1px 2px #e6e6e6;
        -moz-box-shadow: 1px 1px 2px #e6e6e6;
        box-shadow: 1px 1px 2px #e6e6e6;
        cursor: default;
        background: #fff;
        box-sizing: initial;
    }
    .hover_effect .exterior_img{
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    
    .hover_effect:hover .exterior_img {
        -webkit-transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
        -o-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        transform: scale(1.1,1.1);
    }

    /*찾아오시는 길*/
    .deractions_section{
        margin: 0;
    }
    
    .deractions_section .deractions_title h1{
        color: #997000;
        font-size: 45px;
        padding: 0px 25px;
        width: 80%;
    }
    
    .deractions_section .directions_google_map{
        text-align: center;
        width: 100%;
    }
    
    .deractions_section .directions_google_map iframe{
        width: 80%;
        height: 250px;
    }
    
    .hours_of_operation{
        padding: 20px 0;
        width: 100%;
        height: 300px;
    }

    .hours_of_operation .hours_of_operation_title{
        padding-left: 10%;
    }
    
    .hours_of_operation .hours_of_operation_table{
        width: 80%;
        height: 300px;
        font-size: 15px;
        font-family: '맑은 고딕';
    }
    
    .hours_of_operation .hours_of_operation_table th{
        width: 40%;
        padding-right: 10%;
        color: #999;
    }

    .hours_of_operation .phone_number_title{
        padding-left: 10%;
    }
    
    .hours_of_operation .phone_number_table{
        width: 60%;
        height: auto;
        font-size: 15px;
        font-family: '맑은 고딕';
    }
    
    .hours_of_operation .phone_number_table th{
        width: 25%;
        padding-right: 10%;
        color: #999;
    }

    footer{
        margin-top: 50px;
        float: left;
        width: 100%;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 10px;
        font-family: '맑은 고딕';
        background-color: #faa473;
    }
    /*info.html*/
    .store_infomation_section{
        margin: 0;
    }
    
    .store_infomation_section .store_infomation_title h1{
        color: #997000;
        font-size: 45px;
        padding: 0px 25px;
        width: 80%;
    }
    
    .store_infomation_section .store_infomation{
        width: 80%;
        display: block;
    }
    
    .store_infomation .store_infomation_img{
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
    }

    .hover_effect .store_infomation_images{
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    
    .hover_effect:hover .store_infomation_images {
        -webkit-transform: scale(1.1,1.1);
        -moz-transform: scale(1.1,1.1);
        -o-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
        transform: scale(1.1,1.1);
    }

    .store_infomation_section .store_infomation .store_infomation_text_box{
        padding-left: 25%;
    }
    
    .store_infomation_section .store_infomation .store_infomation_text_box .store_infomation_text_title{
        margin-top: 20px;
        font-size: 50px;
        text-align: center;
    }
    
    .store_infomation_section .store_infomation .store_infomation_text_box .store_infomation_text{
        font-size: 30px;
    }
    
    .store_infomation_images{
        width: 100%;
        height: auto;
        padding-left: 30px;
    }

    /*menu.html*/
    .store_menu_section{
        margin: 0;
    }

    .store_menu_section .store_menu_title h1{
        color: #997000;
        font-size: 45px;
        padding: 0px 25px;
        width: 60%;
    }
    
    .store_menu_section .store_menu_box1{
        display: block;
        width: 80%;
        padding-left: 5%;
    }
    
    .store_menu_section .store_menu_box2{
        display: block;
        width: 80%;
        padding-left: 5%;
    }

    /*store_image.html*/
    .store_image_section .store_image_title h1{
        color: #997000;
        font-size: 45px;
        padding: 0px 25px;
        width: 60%;
    }
}