body {
    margin: 0;
    font-family: 'Nanum Brush Script';
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blanchedalmond;
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 40px;
    color: black;
}

.navbar_logo i{
    color: #997000;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 25px;
}

.navbar_menu li {
    padding: 8px 30px;
    margin: 0 15px;
}

.navbar_menu li:hover {
    background-color: #997000;
    border-radius: 4px;

}
.navbar_icons {
    list-style: none;
    color: #997000;
    display: flex;
    padding-left: 0;
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    top: 20px;
    font-size: 24px;
    color:#997000;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar_toggleBtn{
        display: block;
    }

    .navbar_icons.active{
        display: flex;
    }

    .navbar_menu.active{
        display: flex;
    }

}